.shop-conatiner{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin:100px 50px;
}
.cart-container{
    background: rgba(255, 153, 0, 0.3);
    
}
.Review-order{
width: 100%;
padding: 8px;
margin-top: 8px;
background: #FF9900;
border-radius: 4px;
border: none;
text-align: left;
color: #FFFFFF;
font-family: 'Lato';
cursor: pointer;
}
